# .editorconfig

# Top-most EditorConfig file
root = true

# General
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript and JSON files
[*.{js,json}]
indent_size = 2
quote_type = double
insert_final_newline = true
semi = true

